<h1>Cyberbullying detection</h1>
<hr>
<h3>Preprocessing</h3>
<hr>

In [1]:
#Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import re

<hr>
read the dataset
<hr>

In [2]:
df_cbd = pd.read_csv('../datasets/twitter_parsed_dataset_post_EDA.csv')

In [3]:
df_cbd.shape

(16851, 5)

Drop those 3 rows with null values detected on EDA stage.

In [4]:
df_cbd[df_cbd['id'].isnull() | df_cbd['text'].isnull() | df_cbd['annotation'].isnull()]

,index,id,text,annotation,oh_label
2992,5.67909969783169E+017,5.67909969783169E+017,RT @Lizzethismetal: Probably gonna piss off so...,NaN,NaN
2993,#yesallmen,NaN,NaN,NaN,NaN
2994,@MT8_9 http://t.co/QHo6dhumjc,sexism,1,NaN,NaN

In [8]:
df_cbd.drop(df_cbd[df_cbd['id'].isnull() | df_cbd['text'].isnull() | df_cbd['annotation'].isnull()].index,axis=0,inplace=True)
df_cbd.shape

(16848, 5)

Start to remove some text like: http tag, punctuations, special characters

In [17]:
#remove url's
#df_cbd['text'] = re.sub(r"\S*https?:\S*", '', df_cbd['text']) #links and urls
df_cbd['text'] = df_cbd['text'].map(lambda x : re.sub(r"\S*https?:\S*", '', x))

In [20]:
df_cbd

                       index                     id text annotation  oh_label
0      5.74948705591165E+017  5.74948705591165E+017            none       0.0
1      5.71917888690393E+017  5.71917888690393E+017            none       0.0
2      3.90255841338601E+017  3.90255841338601E+017          sexism       1.0
3      5.68208850655916E+017  5.68208850655916E+017          racism       1.0
4      5.75596338802373E+017  5.75596338802373E+017            none       0.0
...                      ...                    ...  ...        ...       ...
16846  5.75606766236475E+017  5.75606766236475E+017            none       0.0
16847  5.72333822886326E+017  5.72333822886326E+017            none       0.0
16848  5.72326950057845E+017  5.72326950057845E+017            none       0.0
16849  5.74799612642357E+017  5.74799612642357E+017            none       0.0
16850  5.68826121153684E+017  5.68826121153684E+017            none       0.0

[16848 rows x 5 columns]